<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="077e06a7-f923-4bab-b367-b20687fed379"
    Publisher="CN=Jarvis"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="077e06a7-f923-4bab-b367-b20687fed379" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SRGPU</DisplayName>
    <PublisherDisplayName>Dimitris Bitzas</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="SRGPU.App">
      <uap:VisualElements
        DisplayName="Speech Recognition in GPU"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Speech Recognition in GPU: Phoneme recognition using GPGPU implementation based on OpenCL framework. The Phoneme recogntion is based on MFCC + HMM  + GMeans"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer"/>
    <DeviceCapability Name="microphone"/>
  </Capabilities>
</Package>